Repository darwinia-network/darwinia, pull requests merged in 2021-11, with the labels that each got.

#764 Update toolchain use `nightly-2021-04-22`
  .github/workflows/release.yml
  .maintain/hack-srtool.sh
  .maintain/setup-wasm.sh
Labels: CI/CD

#767 Format Output
  .github/workflows/ci.yml
Labels: CI/CD

#762 Release v0.11.5
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/command.rs
  node/service/Cargo.toml
  node/service/src/chain_spec/crab.rs
  node/service/src/chain_spec/darwinia.rs
  node/service/src/service/crab.rs
  node/service/src/service/darwinia.rs
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/common/src/impls.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/constants.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/balances.rs
  runtime/crab/src/pallets/dynamic_fee.rs
  runtime/crab/src/pallets/election_provider_multi_phase.rs
  runtime/crab/src/pallets/evm_.rs
  runtime/crab/src/pallets/mod.rs
  runtime/crab/src/pallets/proxy.rs
  runtime/crab/src/pallets/randomness_collective_flip.rs
  runtime/crab/src/pallets/system.rs
  runtime/crab/src/weights/darwinia_balances.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/balances.rs
  runtime/darwinia/src/pallets/election_provider_multi_phase.rs
  runtime/darwinia/src/pallets/mod.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/darwinia/src/pallets/randomness_collective_flip.rs
  runtime/darwinia/src/pallets/system.rs
  runtime/darwinia/src/weights/darwinia_balances.rs
Labels: Crab, Darwinia, Migration Added, Break Storage, Break Type Definition, Break API, Release

#773 Tag v0.11.5
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/darwinia/Cargo.toml
Labels: Release

#780 Remove Old Migration
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
Labels: Crab, Darwinia, Migration Removed

#786 v0.11.6 Part.1 (Update Substrate)
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  node/service/src/service/crab.rs
  node/service/src/service/darwinia.rs
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/election_provider_multi_phase.rs
  runtime/crab/src/pallets/evm_.rs
  runtime/crab/src/pallets/proxy.rs
  runtime/crab/src/weights/pallet_election_provider_multi_phase.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/election_provider_multi_phase.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/darwinia/src/weights/pallet_election_provider_multi_phase.rs
  rust-toolchain.toml
Labels: Crab, Darwinia, Break Storage

#787 Add S2S to Darwinia/Crab
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  node/service/src/chain_spec/crab.rs
  node/service/src/chain_spec/darwinia.rs
  node/service/src/chain_spec/mod.rs
  node/service/src/service/crab.rs
  node/service/src/service/darwinia.rs
  node/service/src/service/mod.rs
  primitives/Cargo.toml
  primitives/bridge/Cargo.toml
  primitives/bridge/src/lib.rs
  primitives/common/Cargo.toml
  primitives/common/src/lib.rs
  rpc/Cargo.toml
  rpc/src/crab.rs
  rpc/src/darwinia.rs
  rpc/src/lib.rs
  runtime/common/Cargo.toml
  runtime/common/src/impls.rs
  runtime/common/src/lib.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/constants.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/messages/darwinia_messages.rs
  runtime/crab/src/messages/mod.rs
  runtime/crab/src/pallets/babe.rs
  runtime/crab/src/pallets/bridge_dispatch.rs
  runtime/crab/src/pallets/bridge_grandpa.rs
  runtime/crab/src/pallets/bridge_messages.rs
  runtime/crab/src/pallets/election_provider_multi_phase.rs
  runtime/crab/src/pallets/elections_phragmen.rs
  runtime/crab/src/pallets/fee_market.rs
  runtime/crab/src/pallets/mod.rs
  runtime/crab/src/pallets/multisig.rs
  runtime/crab/src/pallets/proxy.rs
  runtime/crab/src/pallets/staking.rs
  runtime/crab/types.json
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/constants.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/messages/crab_messages.rs
  runtime/darwinia/src/messages/mod.rs
  runtime/darwinia/src/pallets/babe.rs
  runtime/darwinia/src/pallets/bridge_dispatch.rs
  runtime/darwinia/src/pallets/bridge_grandpa.rs
  runtime/darwinia/src/pallets/bridge_messages.rs
  runtime/darwinia/src/pallets/election_provider_multi_phase.rs
  runtime/darwinia/src/pallets/elections_phragmen.rs
  runtime/darwinia/src/pallets/fee_market.rs
  runtime/darwinia/src/pallets/identity.rs
  runtime/darwinia/src/pallets/mod.rs
  runtime/darwinia/src/pallets/multisig.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/darwinia/src/pallets/relayer_game.rs
  runtime/darwinia/src/pallets/staking.rs
  runtime/darwinia/src/pallets/transaction_payment.rs
  runtime/darwinia/types.json
Labels: Crab, Darwinia, Bridge, Break Type Definition, Release, Need Audit

#788 Update Types
  runtime/crab/polkadot-compatible-types.json
  runtime/crab/types.json
  runtime/darwinia/polkadot-compatible-types.json
  runtime/darwinia/types.json
Labels: Break Type Definition

#789 Release v0.11.6
  .maintain/release-template.md
Labels: Release, Announcement
