Repository darwinia-network/darwinia, pull requests merged in 2021-07, with the labels that each got.

#672 Tag v0.10.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/darwinia/Cargo.toml
Labels: Release

#666 Tag v0.11.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
Labels: Release

#685 Enable mapping-worker only in archive node
  node/service/src/service/crab.rs
Labels: Crab

#686 Release v0.11.1
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/command.rs
  node/service/Cargo.toml
  node/service/src/chain_spec/crab.rs
  node/service/src/service/crab.rs
  node/service/src/service/darwinia.rs
  primitives/Cargo.toml
  rpc/Cargo.toml
  rpc/src/crab.rs
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/dynamic_fee.rs
  runtime/crab/src/pallets/election_provider_multi_phase.rs
  runtime/crab/src/pallets/evm.rs
  runtime/crab/src/pallets/mod.rs
  runtime/crab/src/pallets/offences.rs
  runtime/crab/src/pallets/staking.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/election_provider_multi_phase.rs
  runtime/darwinia/src/pallets/offences.rs
Labels: Crab, Darwinia, Migration Removed

#690 Tag v0.11.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
Labels: Release

#693 Darwinia Spec 1101
  CHANGELOG.md
  runtime/darwinia/src/lib.rs
Labels: Darwinia, Migration Added, P9 High, Patch
