Repository darwinia-network/darwinia, pull requests merged in 2021-09, with the labels that each got.

#723 Companions
  Cargo.lock
  node/service/src/chain_spec/crab.rs
  node/service/src/chain_spec/darwinia.rs
  runtime/common/Cargo.toml
  runtime/common/src/lib.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/crab_issuing.rs
  runtime/crab/src/pallets/dvm.rs
  runtime/crab/src/pallets/mod.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/bridge_ethereum.rs
  runtime/darwinia/src/pallets/crab_backing.rs
  runtime/darwinia/src/pallets/mod.rs
  runtime/darwinia/src/pallets/to_ethereum_backing_.rs
  runtime/darwinia/src/pallets/tron_backing.rs
Labels: Crab, Darwinia, Bridge, Migration Added, Migration Removed, Break Storage, Break API

#727 Fix CI
  .github/workflows/ci.yml
Labels: CI/CD

#728 Lock Dependencies
  .github/workflows/ci.yml
  .maintain/setup-darwinia.sh
Labels: CI/CD

#724 Correct Treasury Storage
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
Labels: Crab, Darwinia, Migration Added

#730 Release v0.11.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
Labels: Crab, Darwinia

#734 Increase Treasury `ProposalBondMinimum`
  CHANGELOG.md
  runtime/crab/src/pallets/treasury.rs
  runtime/darwinia/src/pallets/treasury.rs
Labels: Crab, Darwinia

#740 Remove Old Migration
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
Labels: Crab, Darwinia, Migration Removed

#738 Companion for dvm update 817
  Cargo.lock
  node/service/src/service/crab.rs
  rpc/src/crab.rs
Labels: Crab

#742 Correct Indices Storage
  runtime/crab/src/lib.rs
Labels: Crab, Migration Added, Break Storage

#743 Update Type
  runtime/crab/polkadot-compatible-types.json
  runtime/darwinia/polkadot-compatible-types.json
Labels: Crab, Darwinia, Break Type Definition
