Repository darwinia-network/darwinia, pull requests merged in 2022-08, with the labels that each got.

#929 Releaes `v0.12.3-2`
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/balances.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/balances.rs
Labels: N-Crab, N-Darwinia, U-Release, S-Patch

#933 Tweak the `sync_from` value for darwinia
  node/service/src/service/mod.rs
Labels: N-Darwinia

#936 Prepare `v0.12.4`
  Cargo.lock
  cli/Cargo.toml
  cli/src/command.rs
  node/service/Cargo.toml
  node/service/src/chain_spec/crab.rs
  node/service/src/chain_spec/darwinia.rs
  node/service/src/service/dvm.rs
  node/service/src/service/mod.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/bridges_message/darwinia.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/migrations.rs
  runtime/crab/src/pallets/bridge_dispatch.rs
  runtime/crab/src/pallets/bridge_messages.rs
  runtime/crab/src/pallets/ethereum.rs
  runtime/crab/src/pallets/evm.rs
  runtime/crab/src/pallets/fee_market.rs
  runtime/crab/src/pallets/scheduler.rs
  runtime/crab/src/pallets/system.rs
  runtime/crab/src/pallets/utility.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/bridges_message/crab.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migrations.rs
  runtime/darwinia/src/pallets/bridge_dispatch.rs
  runtime/darwinia/src/pallets/bridge_messages.rs
  runtime/darwinia/src/pallets/ethereum.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/darwinia/src/pallets/fee_market.rs
  runtime/darwinia/src/pallets/mod.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/darwinia/src/pallets/relay_authority.rs
  runtime/darwinia/src/pallets/relayer_game.rs
  runtime/darwinia/src/pallets/scheduler.rs
  runtime/darwinia/src/pallets/system.rs
  runtime/darwinia/src/pallets/to_ethereum_backing_.rs
  runtime/darwinia/src/pallets/utility.rs
Labels: N-Crab, N-Darwinia, BK-Storage, BK-API
