Repository darwinia-network/darwinia, pull requests merged in 2022-09, with the labels that each got.

#940 Release `v0.12.4`
  .gitignore
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/command.rs
  node/service/Cargo.toml
  node/service/src/chain_spec/darwinia.rs
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migrations.rs
  runtime/darwinia/src/pallets/ecdsa_authority.rs
  runtime/darwinia/src/pallets/message_gadget.rs
  runtime/darwinia/src/pallets/mod.rs
Labels: N-Crab, N-Darwinia, U-Release

#943 Release `v0.12.4-1`
  Cargo.lock
  runtime/crab/src/lib.rs
  runtime/crab/src/migrations.rs
  runtime/darwinia/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release

#944 Fix repository target
  .github/workflows/release.yml
Labels: U-CI/CD

#945 Add BLS precompile to the darwinia network
  Cargo.lock
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/migrations.rs
  runtime/darwinia/src/pallets/evm.rs
Labels: N-Darwinia

#946 Adjust ecdsa-authority genesis
  runtime/darwinia/src/migrations.rs
Labels: N-Darwinia

#947 Release `v0.12.4-2`
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
Labels: N-Darwinia, U-Release
