Repository darwinia-network/darwinia, pull requests merged in 2023-05, with the labels that each got.

#1138 All fees go to treasury
  runtime/common/src/lib.rs
Labels: N-Crab, N-Darwinia, N-Pangoro, N-Pangolin, C-Runtime

#1140 Correct staking reward map
  Cargo.lock
  Cargo.toml
  pallet/staking/Cargo.toml
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
Labels: C-Pallet

#1141 Release runtime override
  .github/workflows/runtime-override.yml
Labels: U-CI/CD

#1143 Release `v6.3.0`
  Cargo.lock
  Cargo.toml
  pallet/staking/src/lib.rs
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release, D-Crate, N-Pangoro, N-Pangolin, D-Polkadot

#1144 Fix package name
  .github/workflows/release.yml
Labels: U-CI/CD
