Repository darwinia-network/darwinia, pull requests merged in 2023-06, with the labels that each got.

#1167 Use moonbeam's `polkadot-v0.9.40`
  Cargo.lock
  Cargo.toml
  precompile/assets/src/lib.rs
  precompile/assets/src/tests.rs
  precompile/deposit/src/tests.rs
  precompile/staking/src/tests.rs
  precompile/state-storage/src/tests.rs
  runtime/crab/src/pallets/evm.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/src/pallets/evm.rs
Labels: C-EVM, D-Moonbeam

#1169 Use `ubuntu:20.04`
  .github/template-release.md
  .github/workflows/release.yml
  .github/workflows/staging.yml
Labels: U-CI/CD

#1170 Release testnets
  .github/workflows/checks.yml
  pallet/staking/src/lib.rs
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1171 Set testnets release type to prerelease
  .github/workflows/release.yml
Labels: U-CI/CD

#1173 Limiting the power of the council and remove sudo
  Cargo.lock
  node/src/chain_spec/crab.rs
  node/src/chain_spec/darwinia.rs
  runtime/common/src/test.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/migration.rs
  runtime/crab/src/pallets.rs
  runtime/crab/src/pallets/evm.rs
  runtime/crab/src/pallets/membership.rs
  runtime/crab/src/pallets/sudo.rs
  runtime/crab/tests/mock.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/darwinia/src/pallets.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/darwinia/src/pallets/membership.rs
  runtime/darwinia/src/pallets/sudo.rs
  runtime/darwinia/tests/mock.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangolin/src/pallets/membership.rs
  runtime/pangoro/src/pallets/evm.rs
  runtime/pangoro/src/pallets/membership.rs
Labels: N-Crab, N-Darwinia, S-Security, N-Pangoro, N-Pangolin, C-Runtime

#1175 Fix release
  .github/workflows/release.yml
Labels: U-CI/CD

#1179 Update the weight `proof_size`
  runtime/crab/src/migration.rs
  runtime/crab/src/weights/pallet_bridge_grandpa.rs
  runtime/darwinia/src/weights/pallet_bridge_grandpa.rs
  runtime/pangolin/src/weights/pallet_bridge_grandpa.rs
  runtime/pangoro/src/weights/pallet_bridge_grandpa.rs
Labels: N-Crab, N-Darwinia, N-Pangoro, N-Pangolin, C-Runtime

#1180 Release `v6.3.2`
  Cargo.lock
  Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release, N-Pangoro, N-Pangolin

#1177 Format origin names
  runtime/crab/src/pallets/assets.rs
  runtime/crab/src/pallets/dmp_queue.rs
  runtime/crab/src/pallets/preimage.rs
  runtime/crab/src/pallets/xcmp_queue.rs
  runtime/darwinia/src/pallets/assets.rs
  runtime/darwinia/src/pallets/dmp_queue.rs
  runtime/darwinia/src/pallets/ethereum_xcm.rs
  runtime/darwinia/src/pallets/preimage.rs
  runtime/darwinia/src/pallets/xcmp_queue.rs
  runtime/pangolin/src/pallets/assets.rs
  runtime/pangolin/src/pallets/dmp_queue.rs
  runtime/pangolin/src/pallets/ethereum_xcm.rs
  runtime/pangolin/src/pallets/preimage.rs
  runtime/pangolin/src/pallets/xcmp_queue.rs
  runtime/pangoro/src/pallets/assets.rs
  runtime/pangoro/src/pallets/dmp_queue.rs
  runtime/pangoro/src/pallets/ethereum_xcm.rs
  runtime/pangoro/src/pallets/preimage.rs
  runtime/pangoro/src/pallets/xcmp_queue.rs
Labels: U-Housekeeping

#1187 Release `v6.3.4`
  Cargo.lock
  Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release, N-Pangoro, N-Pangolin
