Repository darwinia-network/darwinia, pull requests merged in 2023-10, with the labels that each got.

#1287 Code cleaning
  .github/workflows/checks.yml
  Cargo.lock
  runtime/crab/src/lib.rs
  runtime/crab/src/migration.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/pangolin/src/migration.rs
  runtime/pangoro/src/migration.rs
Labels: D-Crate, U-Housekeeping

#1289 Trigger deploy tracing node for mainnets
  .github/workflows/release.yml
Labels: U-CI/CD

#1291 Release `pango-6405`
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1290 Release `v6.4.0-3`
  .github/workflows/checks.yml
  Cargo.lock
  Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/migration.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/pangolin/src/migration.rs
  runtime/pangoro/src/migration.rs
Labels: N-Crab, N-Darwinia, U-Release, S-Patch

#1292 OpenGov experiment
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/chain_spec/crab.rs
  node/src/chain_spec/darwinia.rs
  node/src/chain_spec/pangolin.rs
  node/src/chain_spec/pangoro.rs
  node/src/service/mod.rs
  runtime/common/src/gov_origin.rs
  runtime/common/src/lib.rs
  runtime/crab/src/pallets/session.rs
  runtime/crab/src/pallets/staking.rs
  runtime/darwinia/src/pallets/session.rs
  runtime/darwinia/src/pallets/staking.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/migration.rs
  runtime/pangolin/src/pallets.rs
  runtime/pangolin/src/pallets/asset_manager.rs
  runtime/pangolin/src/pallets/assets.rs
  runtime/pangolin/src/pallets/collective.rs
  runtime/pangolin/src/pallets/dmp_queue.rs
  runtime/pangolin/src/pallets/elections_phragmen.rs
  runtime/pangolin/src/pallets/ethereum_xcm.rs
  runtime/pangolin/src/pallets/governance.rs
  runtime/pangolin/src/pallets/governance/origin.rs
  runtime/pangolin/src/pallets/governance/track.rs
  runtime/pangolin/src/pallets/governance/treasury.rs
  runtime/pangolin/src/pallets/governance/v1.rs
  runtime/pangolin/src/pallets/membership.rs
  runtime/pangolin/src/pallets/polkadot_xcm.rs
  runtime/pangolin/src/pallets/preimage.rs
  runtime/pangolin/src/pallets/proxy.rs
  runtime/pangolin/src/pallets/scheduler.rs
  runtime/pangolin/src/pallets/session.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangolin/src/pallets/xcmp_queue.rs
  runtime/pangolin/src/weights.rs
  runtime/pangolin/src/weights/pallet_elections_phragmen.rs
  runtime/pangolin/src/weights/pallet_membership.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/pallets/session.rs
Labels: Bk-Storage, Bk-API, N-Pangolin, C-Pallet, C-Runtime

#1297 Bench Pangolin
  pallet/staking/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets/governance.rs
  runtime/pangolin/src/weights.rs
  runtime/pangolin/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/pangolin/src/weights/darwinia_account_migration.rs
  runtime/pangolin/src/weights/darwinia_deposit.rs
  runtime/pangolin/src/weights/darwinia_ecdsa_authority.rs
  runtime/pangolin/src/weights/darwinia_staking.rs
  runtime/pangolin/src/weights/pallet_assets.rs
  runtime/pangolin/src/weights/pallet_balances.rs
  runtime/pangolin/src/weights/pallet_bridge_grandpa.rs
  runtime/pangolin/src/weights/pallet_bridge_messages.rs
  runtime/pangolin/src/weights/pallet_bridge_parachains.rs
  runtime/pangolin/src/weights/pallet_collective_council.rs
  runtime/pangolin/src/weights/pallet_collective_technical_committee.rs
  runtime/pangolin/src/weights/pallet_conviction_voting.rs
  runtime/pangolin/src/weights/pallet_democracy.rs
  runtime/pangolin/src/weights/pallet_fee_market.rs
  runtime/pangolin/src/weights/pallet_identity.rs
  runtime/pangolin/src/weights/pallet_preimage.rs
  runtime/pangolin/src/weights/pallet_proxy.rs
  runtime/pangolin/src/weights/pallet_referenda.rs
  runtime/pangolin/src/weights/pallet_scheduler.rs
  runtime/pangolin/src/weights/pallet_session.rs
  runtime/pangolin/src/weights/pallet_timestamp.rs
  runtime/pangolin/src/weights/pallet_treasury.rs
  runtime/pangolin/src/weights/pallet_utility.rs
  runtime/pangolin/src/weights/pallet_whitelist.rs
Labels: C-Benchmark

#1298 Release `pango-6406`
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangolin

#1299 Adjust governance parameters
  runtime/crab/src/pallets/democracy.rs
  runtime/crab/src/pallets/elections_phragmen.rs
  runtime/darwinia/src/pallets/democracy.rs
Labels: N-Crab, N-Darwinia, C-Runtime

#1300 Release `v6.4.0-4`
  Cargo.lock
  Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/democracy.rs
  runtime/crab/src/pallets/elections_phragmen.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/democracy.rs
Labels: N-Crab, N-Darwinia, U-Release, S-Patch
