Repository darwinia-network/darwinia, pull requests merged in 2023-08, with the labels that each got.

#1227 No-std default genesis config
  pallet/ecdsa-authority/src/lib.rs
  pallet/message-gadget/src/lib.rs
  pallet/staking/src/lib.rs
Labels: C-Pallet

#1226 Bump ethabi and frontier version
  Cargo.lock
  pallet/ecdsa-authority/Cargo.toml
Labels: D-Crate, D-Frontier

#1231 Bump moonbeam and revamp frontier service
  Cargo.lock
  Cargo.toml
  node/src/command.rs
  node/src/main.rs
  node/src/rpc.rs
  node/src/service/frontier.rs
  node/src/service/mod.rs
  pallet/deposit/src/tests.rs
  pallet/ecdsa-authority/src/primitives.rs
  pallet/ecdsa-authority/src/tests.rs
  precompile/deposit/src/tests.rs
Labels: D-Moonbeam

#1235 Record `proof_size` cost for precompiles
  precompile/assets/src/lib.rs
  precompile/state-storage/src/lib.rs
Labels: C-Precompile

#1237 Add weight sanity checks
  runtime/common/src/lib.rs
  runtime/common/src/test.rs
  runtime/crab/tests/tests.rs
  runtime/darwinia/tests/tests.rs
  runtime/pangolin/tests/tests.rs
  runtime/pangoro/tests/tests.rs
Labels: N-Crab, N-Darwinia, N-Pangoro, N-Pangolin, C-Runtime

#1239 Release `pango*-6401`
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1236 Darwinia ahUSDT
  Cargo.lock
  Cargo.toml
  pallet/asset-limit/Cargo.toml
  pallet/asset-limit/src/lib.rs
  runtime/common/Cargo.toml
  runtime/common/src/xcm_configs.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/migration.rs
  runtime/pangolin/src/pallets.rs
  runtime/pangolin/src/pallets/asset_limit.rs
  runtime/pangolin/src/pallets/asset_manager.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangolin/src/pallets/orml_xtokens.rs
  runtime/pangolin/src/pallets/polkadot_xcm.rs
Labels: C-Pallet, C-XCM

#1249 Release `v6.4.0`
  Cargo.lock
  Cargo.toml
  runtime/crab/src/migration.rs
Labels: N-Crab, N-Darwinia, U-Release

#1250 Upgrade srtool action
  .github/workflows/release.yml
Labels: U-CI/CD

#1253 Remove unnecessary version
  .github/template-runtime.md
Labels: U-CI/CD
