Repository darwinia-network/darwinia, pull requests merged in 2023-03, with the labels that each got.

#968 Stop Darwinia and Crab 1.0
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  primitives/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/migrations.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migrations.rs
  rust-toolchain.toml
Labels: N-Crab, N-Darwinia, U-Release

#978 Fix release CI
  .github/release-template.md
  .github/workflows/release.yml
  .github/workflows/staging.yml
Labels: U-CI/CD

#981 Adjust Crab runtime and genesis
  node/src/chain_spec/crab.rs
  runtime/crab/src/pallets/assets.rs
  runtime/crab/src/pallets/democracy.rs
  runtime/crab/src/pallets/elections_phragmen.rs
  runtime/crab/src/pallets/tips.rs
  runtime/crab/src/pallets/treasury.rs
Labels: N-Crab

#982 Update Crab genesis collator keys
  node/src/chain_spec/crab.rs
Labels: N-Crab

#990 Update checks
  .github/workflows/checks.yml
Labels: U-CI/CD

#1019 Bump testnet runtime versions
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/migration.rs
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/migration.rs
Labels: N-Pangoro, N-Pangolin

#1000 Update CI
  .github/release-mainnets.md
  .github/release-template.md
  .github/release-testnets.md
  .github/workflows/release.yml
  .maintain/docker/Dockerfile
Labels: U-CI/CD

#1023 Fix vesting
  runtime/crab/Cargo.toml
  runtime/crab/src/migration.rs
  tool/state-processor/src/adjust.rs
  tool/state-processor/src/tests.rs
  tool/state-processor/src/vesting/README.md
  tool/state-processor/src/vesting/mod.rs
Labels: N-Crab, B-Runtime

#1027 Disable on chain WASM log
  .github/workflows/release.yml
  runtime/crab/Cargo.toml
  runtime/darwinia/Cargo.toml
  runtime/pangolin/Cargo.toml
  runtime/pangoro/Cargo.toml
Labels: U-CI/CD

#1031 Bump deps
  Cargo.lock
  tool/am-signer/Cargo.lock
  tool/state-processor/Cargo.lock
Labels: C-Dependency

#1032 Optimize checks CI
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Labels: U-CI/CD

#1034 Release testnets `6009`
  .github/release-testnets.md
  .github/workflows/release.yml
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-CI/CD, N-Pangoro, N-Pangolin

#1035 Update release style
  .github/release-mainnets.md
  .github/release-testnets.md
  .github/workflows/release.yml
Labels: U-CI/CD

#1039 Release `v6.0.1`
  Cargo.lock
  Cargo.toml
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  tool/am-signer/Cargo.lock
  tool/state-processor/Cargo.lock
Labels: N-Crab, U-Release

#1045 Fix Release CI
  .github/workflows/release.yml
Labels: U-CI/CD

#1046 Fix `v6.0.1`
  .github/workflows/release.yml
Labels: U-CI/CD, U-Release

#1064 Check format
  .github/workflows/checks.yml
Labels: U-CI/CD

#1054 Opt CI
  .github/shrink-cache.sh
  .github/workflows/release.yml
  .github/workflows/staging.yml
Labels: U-CI/CD

#1066 Adjust weight to fee
  runtime/common/src/lib.rs
  runtime/common/src/test.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/src/pallets/evm.rs
  tests/ethereum/test-balance.ts
Labels: C-Runtime

#1067 Bench and restructure staking
  Cargo.lock
  Cargo.toml
  pallet/account-migration/src/benchmarking.rs
  pallet/account-migration/src/lib.rs
  pallet/account-migration/src/mock.rs
  pallet/deposit/Cargo.toml
  pallet/deposit/src/benchmarking.rs
  pallet/deposit/src/lib.rs
  pallet/deposit/src/mock.rs
  pallet/deposit/src/tests.rs
  pallet/ecdsa-authority/src/benchmarking.rs
  pallet/ecdsa-authority/src/lib.rs
  pallet/staking/Cargo.toml
  pallet/staking/src/benchmarking.rs
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
  pallet/staking/src/weights.rs
  pallet/staking/traits/Cargo.toml
  pallet/staking/traits/src/lib.rs
  precompile/deposit/src/mock.rs
  precompile/staking/src/mock.rs
  runtime/common/src/test.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets.rs
  runtime/crab/src/pallets/balances.rs
  runtime/crab/src/pallets/ecdsa_authority.rs
  runtime/crab/src/pallets/staking.rs
  runtime/crab/src/pallets/system.rs
  runtime/crab/src/weights.rs
  runtime/crab/src/weights/darwinia_staking.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets.rs
  runtime/darwinia/src/pallets/balances.rs
  runtime/darwinia/src/pallets/deposit.rs
  runtime/darwinia/src/pallets/ecdsa_authority.rs
  runtime/darwinia/src/pallets/staking.rs
  runtime/darwinia/src/pallets/system.rs
  runtime/darwinia/src/weights.rs
  runtime/darwinia/src/weights/darwinia_staking.rs
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets.rs
  runtime/pangolin/src/pallets/balances.rs
  runtime/pangolin/src/pallets/ecdsa_authority.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangolin/src/pallets/system.rs
  runtime/pangolin/src/weights.rs
  runtime/pangolin/src/weights/darwinia_staking.rs
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets.rs
  runtime/pangoro/src/pallets/balances.rs
  runtime/pangoro/src/pallets/ecdsa_authority.rs
  runtime/pangoro/src/pallets/staking.rs
  runtime/pangoro/src/pallets/system.rs
  runtime/pangoro/src/weights.rs
  runtime/pangoro/src/weights/darwinia_staking.rs
Labels: C-Pallet, C-Benchmark

#1073 Release Pango-6010
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/migration.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1007 To `polkadot-v0.9.38`
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/command.rs
  node/src/service/mod.rs
  pallet/message-gadget/Cargo.toml
  pallet/message-transact/Cargo.toml
  pallet/message-transact/src/lib.rs
  pallet/staking/src/lib.rs
  runtime/common/src/xcm_configs.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/bridges_message/darwinia.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/authorship.rs
  runtime/crab/src/pallets/polkadot_xcm.rs
  runtime/crab/src/pallets/system.rs
  runtime/crab/src/pallets/xcmp_queue.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/bridges_message/crab.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/authorship.rs
  runtime/darwinia/src/pallets/polkadot_xcm.rs
  runtime/darwinia/src/pallets/system.rs
  runtime/darwinia/src/pallets/xcmp_queue.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/bridges_message/pangoro.rs
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets/authorship.rs
  runtime/pangolin/src/pallets/polkadot_xcm.rs
  runtime/pangolin/src/pallets/system.rs
  runtime/pangolin/src/pallets/xcmp_queue.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/bridges_message/pangolin.rs
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets/authorship.rs
  runtime/pangoro/src/pallets/polkadot_xcm.rs
  runtime/pangoro/src/pallets/system.rs
  runtime/pangoro/src/pallets/xcmp_queue.rs
  tool/state-processor/Cargo.lock
Labels: D-Substrate, D-Frontier, D-Polkadot, D-Moonbeam

#1074 Correct features
  Cargo.toml
  node/Cargo.toml
  pallet/staking/Cargo.toml
  runtime/darwinia/Cargo.toml
Labels: U-Housekeeping

#1079 Add `OufOfGas` and `Revert Reason` tests
  tests/ethereum/contracts/contracts_info.ts
  tests/ethereum/contracts/incrementer.sol
  tests/ethereum/test-bls.ts
  tests/ethereum/test-contract.ts
  tests/ethereum/test-gas.ts
Labels: C-Test, C-EVM

#1078 Add more events and prevent duplicative submission
  pallet/account-migration/src/benchmarking.rs
  pallet/account-migration/src/lib.rs
  pallet/account-migration/src/tests.rs
  pallet/account-migration/src/weights.rs
  runtime/crab/src/weights/darwinia_account_migration.rs
  runtime/darwinia/src/weights/darwinia_account_migration.rs
  runtime/pangolin/src/weights/darwinia_account_migration.rs
  runtime/pangoro/src/weights/darwinia_account_migration.rs
Labels: C-Test, C-Pallet, C-Benchmark

#1091 Release pango-6021
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/polkadot_xcm.rs
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets/polkadot_xcm.rs
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets/polkadot_xcm.rs
Labels: U-Release, N-Pangoro, N-Pangolin
