Repository darwinia-network/darwinia, pull requests merged in 2023-11, with the labels that each got.

#1310 Simplify Crab token system
  Cargo.lock
  pallet/account-migration/src/mock.rs
  pallet/staking/Cargo.toml
  pallet/staking/src/benchmarking.rs
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
  precompile/staking/src/mock.rs
  runtime/crab/src/pallets/staking.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/pallets/staking.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/pallets/staking.rs
Labels: N-Crab, S-Need Audit, N-Pangolin, C-Pallet

#1315 Bump the frontier version
  Cargo.lock
Labels: D-Frontier

#1313 Improve staking payout performance
  pallet/account-migration/Cargo.toml
  pallet/account-migration/src/mock.rs
  pallet/staking/Cargo.toml
  pallet/staking/src/benchmarking.rs
  pallet/staking/src/lib.rs
  pallet/staking/src/migration.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
  pallet/staking/src/weights.rs
  precompile/staking/src/mock.rs
  runtime/crab/src/pallets/staking.rs
  runtime/crab/src/weights/darwinia_staking.rs
  runtime/darwinia/src/pallets/staking.rs
  runtime/darwinia/src/weights/darwinia_staking.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangolin/src/weights/darwinia_staking.rs
  runtime/pangoro/src/pallets/staking.rs
  runtime/pangoro/src/weights/darwinia_staking.rs
Labels: S-Audited, C-Pallet

#1319 Improve and test macro
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
Labels: C-Test

#1318 Update staking precomile version
  precompile/metadata/abi/staking.json
  precompile/metadata/sol/staking.sol
  precompile/staking/src/lib.rs
  precompile/staking/src/tests.rs
Labels: C-Precompile

#1321 Release `v6.5.0`
  Cargo.lock
  Cargo.toml
  pallet/message-gadget/Cargo.toml
  pallet/staking/src/lib.rs
  pallet/staking/src/migration.rs
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release, N-Pangoro, N-Pangolin

#1322 Simplify syntax
  pallet/account-migration/src/lib.rs
  pallet/asset-limit/src/lib.rs
  pallet/deposit/src/lib.rs
  pallet/ecdsa-authority/src/lib.rs
  pallet/message-transact/src/lib.rs
Labels: U-Housekeeping

#1323 Fix auto payout
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
Labels: B-Runtime

#1324 Release `v6.5.0-1`
  Cargo.lock
  Cargo.toml
  pallet/ecdsa-authority/src/test_utils.rs
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: N-Crab, N-Darwinia, U-Release, N-Pangoro, N-Pangolin

#1327 Update checks.yml
  .github/workflows/checks.yml
Labels: U-CI/CD

#1330 Patch the Frontier
  Cargo.lock
  Cargo.toml
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/pallets/evm.rs
Labels: S-Patch, D-Frontier

#1331 Release `pango-6502`
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin
