Repository darwinia-network/darwinia, pull requests merged in 2023-07, with the labels that each got.

#1195 Fix compile warnings
  node/src/command.rs
  runtime/common/src/xcm_configs.rs
Labels: U-Housekeeping

#1203 Frontier Upgrade to `polkadot-v0.9.43`
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/cli.rs
  node/src/command.rs
  node/src/frontier_service.rs
  node/src/rpc.rs
  node/src/service/mod.rs
  pallet/deposit/src/tests.rs
  pallet/message-gadget/src/lib.rs
  pallet/message-gadget/src/tests.rs
  pallet/message-transact/src/lib.rs
  pallet/message-transact/src/mock.rs
  precompile/assets/src/lib.rs
  precompile/assets/src/mock.rs
  precompile/deposit/src/mock.rs
  precompile/staking/src/mock.rs
  precompile/state-storage/src/mock.rs
  runtime/common/src/lib.rs
  runtime/common/src/test.rs
  runtime/common/src/xcm_configs.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/collective.rs
  runtime/crab/src/pallets/evm.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/collective.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets/collective.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets/collective.rs
  runtime/pangoro/src/pallets/evm.rs
  tests/ethereum/test-balance.ts
  tests/ethereum/test-block.ts
  tests/ethereum/test-bls.ts
  tests/ethereum/test-code.ts
  tests/ethereum/test-constants.ts
  tests/ethereum/test-contract.ts
  tests/ethereum/test-gas.ts
  tests/ethereum/test-nonce.ts
  tests/ethereum/test-opcodes.ts
  tests/ethereum/test-tracing.ts
Labels: D-Frontier

#1204 Optimize CI
  .github/shrink-cache.sh
  .github/workflows/checks.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  Makefile.toml
Labels: U-CI/CD

#1212 Differentiate between various jobs
  .github/workflows/checks.yml
Labels: U-CI/CD

#1213 Shorter testnet timing
  runtime/pangolin/src/pallets/collective.rs
  runtime/pangolin/src/pallets/democracy.rs
  runtime/pangolin/src/pallets/elections_phragmen.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangolin/src/pallets/tips.rs
  runtime/pangolin/src/pallets/treasury.rs
  runtime/pangoro/src/pallets/collective.rs
  runtime/pangoro/src/pallets/democracy.rs
  runtime/pangoro/src/pallets/elections_phragmen.rs
  runtime/pangoro/src/pallets/staking.rs
  runtime/pangoro/src/pallets/tips.rs
  runtime/pangoro/src/pallets/treasury.rs
Labels: N-Pangoro, N-Pangolin, C-Runtime

#1214 Remove vesting from testnets
  Cargo.lock
  node/src/chain_spec/pangolin.rs
  node/src/chain_spec/pangoro.rs
  pallet/account-migration/Cargo.toml
  pallet/account-migration/src/benchmarking.rs
  pallet/account-migration/src/lib.rs
  pallet/account-migration/src/mock.rs
  runtime/common/src/test.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangolin/src/pallets/proxy.rs
  runtime/pangolin/src/pallets/vesting.rs
  runtime/pangolin/src/weights.rs
  runtime/pangolin/src/weights/pallet_vesting.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets.rs
  runtime/pangoro/src/pallets/evm.rs
  runtime/pangoro/src/pallets/proxy.rs
  runtime/pangoro/src/pallets/vesting.rs
  runtime/pangoro/src/weights.rs
  runtime/pangoro/src/weights/pallet_vesting.rs
Labels: N-Pangoro, N-Pangolin, C-Runtime

#1215 Test `runtime-benchmarks` as well
  .github/workflows/checks.yml
  Cargo.lock
  Cargo.toml
  pallet/account-migration/Cargo.toml
  pallet/account-migration/src/benchmarking.rs
  pallet/account-migration/src/mock.rs
  pallet/deposit/src/mock.rs
  pallet/ecdsa-authority/Cargo.toml
  pallet/ecdsa-authority/src/benchmarking.rs
  pallet/ecdsa-authority/src/lib.rs
  pallet/ecdsa-authority/src/primitives.rs
  pallet/ecdsa-authority/src/test_utils.rs
  pallet/ecdsa-authority/src/tests.rs
  pallet/message-gadget/Cargo.toml
  pallet/staking/src/mock.rs
  precompile/assets/Cargo.toml
  precompile/assets/src/mock.rs
  precompile/staking/Cargo.toml
  precompile/staking/src/mock.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets/assets.rs
  runtime/crab/src/pallets/balances.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/assets.rs
  runtime/darwinia/src/pallets/balances.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets/assets.rs
  runtime/pangolin/src/pallets/balances.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets/assets.rs
  runtime/pangoro/src/pallets/balances.rs
Labels: U-CI/CD, C-Test

#1219 Cache all
  .github/workflows/checks.yml
Labels: U-CI/CD

#1210 Tighten permissions
  runtime/crab/src/pallets/treasury.rs
  runtime/darwinia/src/pallets/treasury.rs
  runtime/pangolin/src/pallets/treasury.rs
  runtime/pangoro/src/pallets/treasury.rs
Labels: N-Crab, N-Darwinia, C-Runtime

#1220 Release `6400` testnets
  runtime/crab/src/lib.rs
  runtime/darwinia/src/lib.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin
