Repository darwinia-network/darwinia, pull requests merged in 2023-09, with the labels that each got.

#1252 Update dispatch filter
  runtime/common/src/test.rs
  runtime/crab/src/pallets/evm.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/src/pallets/evm.rs
Labels: C-EVM, C-Runtime

#1258 Bump checkout
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Labels: U-CI/CD

#1260 Add dependabot
  .github/dependabot.yml
Labels: U-CI/CD

#1259 Use cargo-featalign
  .github/workflows/checks.yml
  Cargo.toml
Labels: U-CI/CD

#1266 Update checks.yml
  .github/workflows/checks.yml
Labels: U-CI/CD

#1274 Adjust `GasLimitPovSizeRatio`
  runtime/common/src/test.rs
  runtime/crab/src/pallets/evm.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/src/pallets/evm.rs
  tests/ethereum/test-bls.ts
Labels: N-Crab, N-Darwinia, S-Patch, B-Runtime, N-Pangoro, N-Pangolin

#1277 Release `v6.4.0-1`
  Cargo.lock
  Cargo.toml
  runtime/common/src/test.rs
  runtime/crab/src/lib.rs
  runtime/crab/src/migration.rs
  runtime/crab/src/pallets/evm.rs
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets/evm.rs
  runtime/pangolin/src/pallets/evm.rs
  runtime/pangoro/src/pallets/evm.rs
  tests/ethereum/test-bls.ts
Labels: N-Crab, N-Darwinia, U-Release, S-Patch

#1278 Release `pango-6403`
  runtime/crab/src/migration.rs
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/migration.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1281 Release `pango-6404`
  runtime/pangolin/src/lib.rs
  runtime/pangoro/src/lib.rs
Labels: U-Release, N-Pangoro, N-Pangolin

#1280 Release `v6.4.0-2`
  Cargo.lock
  Cargo.toml
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/migration.rs
  runtime/crab/src/pallets.rs
  runtime/crab/src/pallets/proxy.rs
  runtime/crab/src/pallets/tips.rs
  runtime/crab/src/weights.rs
  runtime/crab/src/weights/pallet_tips.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/migration.rs
  runtime/darwinia/src/pallets.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/darwinia/src/pallets/tips.rs
  runtime/darwinia/src/weights.rs
  runtime/darwinia/src/weights/pallet_tips.rs
  runtime/pangolin/Cargo.toml
  runtime/pangolin/src/lib.rs
  runtime/pangolin/src/pallets.rs
  runtime/pangolin/src/pallets/proxy.rs
  runtime/pangolin/src/pallets/tips.rs
  runtime/pangolin/src/weights.rs
  runtime/pangolin/src/weights/pallet_tips.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/migration.rs
  runtime/pangoro/src/pallets.rs
  runtime/pangoro/src/pallets/proxy.rs
  runtime/pangoro/src/pallets/tips.rs
  runtime/pangoro/src/weights.rs
  runtime/pangoro/src/weights/pallet_tips.rs
Labels: N-Crab, N-Darwinia, U-Release, S-Patch
