Repository darwinia-network/darwinia, pull requests merged in 2024-01, with the labels that each got.

#1375 Add conviction voting evm support for the darwinia network
  Cargo.lock
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/migration.rs
  runtime/darwinia/src/pallets/evm.rs
Labels: C-Precompile

#1371 Refactor function related to issuing
  .github/workflows/release.yml
  core/inflation/src/lib.rs
  core/inflation/src/test.rs
  pallet/account-migration/src/mock.rs
  pallet/staking/src/lib.rs
  pallet/staking/src/mock.rs
  pallet/staking/src/tests.rs
  precompile/staking/src/mock.rs
  runtime/crab/src/pallets/staking.rs
  runtime/darwinia/src/pallets/staking.rs
  runtime/pangolin/src/pallets/staking.rs
  runtime/pangoro/src/pallets/staking.rs
Labels: S-Need Audit, C-Runtime

#1379 Update `ProxyType`
  runtime/crab/src/pallets/proxy.rs
  runtime/darwinia/src/pallets/proxy.rs
  runtime/pangolin/src/pallets/proxy.rs
  runtime/pangoro/src/pallets/proxy.rs
Labels: C-Runtime

#1381 Add `tx-pause` to all runtimes
  Cargo.lock
  node/src/chain_spec/crab.rs
  node/src/chain_spec/darwinia.rs
  node/src/chain_spec/pangoro.rs
  runtime/crab/Cargo.toml
  runtime/crab/src/lib.rs
  runtime/crab/src/pallets.rs
  runtime/crab/src/pallets/system.rs
  runtime/crab/src/pallets/tx_pause.rs
  runtime/crab/tests/tests.rs
  runtime/darwinia/Cargo.toml
  runtime/darwinia/src/lib.rs
  runtime/darwinia/src/pallets.rs
  runtime/darwinia/src/pallets/system.rs
  runtime/darwinia/src/pallets/tx_pause.rs
  runtime/darwinia/tests/tests.rs
  runtime/pangolin/src/lib.rs
  runtime/pangoro/Cargo.toml
  runtime/pangoro/src/lib.rs
  runtime/pangoro/src/pallets.rs
  runtime/pangoro/src/pallets/system.rs
  runtime/pangoro/src/pallets/tx_pause.rs
  runtime/pangoro/tests/tests.rs
Labels: C-Runtime

#1385 Code review
  runtime/common/src/test.rs
  runtime/crab/src/migration.rs
  runtime/crab/src/pallets/tx_pause.rs
  runtime/darwinia/src/pallets/governance.rs
  runtime/darwinia/src/pallets/tx_pause.rs
  runtime/pangolin/src/pallets/tx_pause.rs
  runtime/pangoro/src/pallets/tx_pause.rs
Labels: C-Runtime
